<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BlogVisitorMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="entity.BlogVisitor">
        <id column="v_id" property="vId" />
        <result column="visitor_id" property="visitorId" />
        <result column="visitor_time" property="visitorTime" />
        <result column="user_id" property="userId" />
        <result column="visitor_ip" property="visitorIp" />
        <result column="type_id" property="typeId" />
        <result column="where_id" property="whereId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        v_id, visitor_id, visitor_time, user_id, visitor_ip, type_id, where_id
    </sql>

</mapper>
